/* Style pour la liste des tâches */
ol {
    list-style-type: none;
    padding: 0;
}

/* Style pour chaque élément de la liste */
li {
    margin-bottom: 10px;
}

/* Style pour les cases à cocher */
input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

/* Style pour les tâches terminées */
.done {
    text-decoration: line-through;
}

/* Style pour le champ d'entrée et le bouton */
input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}
.todo-item {
    display: flex; /* Utilisation d'un modèle de boîte flexible */
    align-items: center; /* Alignement vertical des éléments */
    margin-bottom: 5px; /* Espacement entre chaque élément */
}
.arrow-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;

}

/* Modal.css */

.modal-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 999; /* Assurez-vous que la modal est au-dessus de tous les autres éléments */
}

.modal-closed {
    display: none; /* Cacher la modal par défaut */
}

.modal-content {
    background-color: #fff;
    width: 400px;
    margin: 50px auto; /* Centrer la modal horizontalement */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 10px;
}

.modal-content input[type="text"] {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #007bff; /* Bleu */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
}

